.hommeFemme {
  width: 50%;
}

.vr {
  width: 50%;
}

.background-image::after {
  content: "";
  background-image: url(/assets/background.jpg);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}