.hommeFemme {
  width: 50%;
}

.vr {
  width: 50%;
}

.background-image::after {
  content: "";
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}