table {
    border-collapse:collapse;
    width:90%;
    }
   th, td {
    border:1px solid black;
    width:20%;
    }
   td {
    text-align:center;
    }
   caption {
    font-weight:bold
    }

    .background-image::after {
        content: "";
        background-image: url(/assets/background.jpg);
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }