<app-navbar></app-navbar>
<p>reservationform works!</p>
<div class="container">
    <div class="row">
<div class="form-group lightColor">
<div class="col-6">
    <p-calendar [(ngModel)]="Date" [inline]="true"></p-calendar>
</div>
<div class="col-6">
<select *ngIf="Date" multiple formControlName="salles">
    <option *ngFor="let suit of salles">{{suit}}</option>
  </select>
</div>
</div>

<div class="col-6">
<p-table #dt [columns]="cols" [value]="reservate" [paginator]="true" [rows]="20" [globalFilterFields]="['Game.Nom', 'Acheteur.Nom', 'Reservation.length']">
    <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
    <ng-template pTemplate="header" let-columns>
            <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td>{{rowData.Acheteur.Nom}}</td>
            <td>{{rowData.Game.Nom}}</td>
            <td>{{rowData.Reservation.length}}</td>
        </tr>
    </ng-template>
  </p-table>
</div>
</div>