/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng2-slim-loading-bar/style.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background-image {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
  
  .background-image::after {
    content: "";
    background-image: url("/assets/background.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }